* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(9, 78, 187);
  background: linear-gradient(
    135deg,
    rgba(9, 78, 187, 1) 18%,
    rgba(49, 143, 173, 1) 89%
  );
  color: #fff;
  text-align: center;
}

.weather-app {
  width: 100%;
  max-width: 400px;
  padding: 20px 40px;
  border: 2px solid #7131ad;
  border-radius: 40px;
  box-shadow: 0.1rem 0 0.8rem -1rem #7131ad, -0.1rem 0 0.8rem -1rem #504d4d,
    0 1rem 1rem -1rem #7131ad;
  background: linear-gradient(
    45deg,
    rgba(9, 78, 187, 1) 18%,
    rgba(113, 49, 173, 1) 89%
  );
}

.weather-app .input-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-app .input-box input {
  padding: 12px 24px;
  border: none;
  outline: none;
  color: #555;
  background-color: #eaeaea;
  border-radius: 24px;
  font-size: 16px;
}

.weather-app .input-box button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #eaeaea;
  width: 50px;
  height: 50px;
  position: relative;
}

.weather-app .input-box button:hover{
  background-color: #bfafcf;
}

.weather-app .input-box button img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-app .error-text p{
    font-size: 12px;
    margin: 4px 0 4px 12px;
    text-align: left;
    display: none;
}

.weather-app .user-location button{
  border: none;
  outline: none;
  background-color: #eaeaea;
  padding: 4px 12px;
  border-radius: 24px;
  font-size: 12px;
  cursor: pointer;
  background-color: #e1c7fa;
  margin-top: 4px;
}

.weather-app .user-location button:hover{
  background-color: #d4b0f7;
}

.weather-app .weather {
  display: none;
}

.weather-app .weather .weather-icon {
  width: 180px;
  margin-top: 30px;
}

.weather-app .weather h1 {
  font-size: 80px;
  font-weight: 700;
}

.weather-app .weather h2 {
  font-size: 40px;
  margin-top: -10px;
}

.weather-app .weather .weather-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 40px;
}

.weather-app .weather .weather-details .col {
  display: flex;
  align-items: center;
  text-align: left;
}

.weather-app .weather .weather-details .col img {
  width: 36px;
  margin-right: 8px;
}

.weather-app .weather .weather-details .col .humidity,
.weather-app .weather .weather-details .col .wind {
  font-size: 24px;
}

.weather-app .weather .weather-details .col .humidity-text,
.weather-app .weather .weather-details .col .wind-text {
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 4px;
}


@media screen and (max-width:400px) {
  .weather-app .weather .weather-details{
    flex-direction: column;
  }
  .weather-app .weather .weather-details .col:last-child{
    margin-top: 20px;
  }

  .weather-app .input-box input{
    font-size: 12px;
    padding: 10px 16px;
  }

  .weather-app .input-box button{
    width: 40px;
    height: 40px;
  }

  .weather-app .error-text p,.weather-app .user-location button{
    font-size: 8px;
  }
}

@media screen and (max-width:320px){
  .weather-app .input-box{
    background-color: #eaeaea;
    border-radius: 24px;
  }
  
  .weather-app .input-box input{
    font-size: 10px;
    padding: 8px 12px;
  }

  .weather-app .input-box button{
    width: auto;
    height: auto;
    background-color: transparent;
    position: relative;
    left: -10px;
  }

  .weather-app .input-box button img{
    width: 16px;
    height: 16px;
  }

  .weather-app .weather h1{
    font-size: 60px;
  }

  .weather-app .weather h2{
    font-size: 30px;
  }
}